@model System.Web.Mvc.HandleErrorInfo

@{ ViewBag.Title = "Oops"; }

<div class="jumbotron">
    <h2 class="text-danger text-center">Forum YNOT.NFT is under developing right now!</h2>
    <h2 class="text-danger text-center">During the developing period you can use our <a href="https://t.me/+uOAiSA4hZd82Njcy">Telegram</a> or our <a href="https://discord.gg/sSRu9Hr97S">Discord channel</a>.</h2>
</div>